# Forest of Gerico persistent services config
# Installed by termux-init if missing. Safe to edit later.
#
# 1 = enable on boot
# 0 = do not restore on boot

ENABLE_SSHD_KEEPER=1
RESTORE_CODEX_TERMUX=0
RESTORE_CODEX_UBUNTU_BRIDGE=0
